body{
    background: #C83139;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 15px;

}
.container-box{
    background: rgba(35, 5, 50, 0.75);
    border-radius: 8px;
    padding: 20px;
    border: 1px solid snow;
    flex-direction: column;



}