html{
    background: #D3D3D9;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;}

input, button{
    background: #04AA6D;
    color: white;
    width: 150px;
    height: 40px;
    padding: 5px;
    font-size: 10px;
    font-family: verdana, serif;}

input:focus button:hover{
    opacity: 75%;
}

form{
    border: 8px solid #04AA6D;
    border-radius: 6px;
}